<h1>About</h1>
<p>This web app is devloped personally because of my passion to solve and simplify problems.</p>
<p>Click the link below to see or give feedback.</p>
<p><%= link_to "Feedback and Comments", comments_path %></p>
