
<h1> Contact </h1>
<p> If you need to contact me for any reason, please send me berief message below. </p>

<a href="mailto:tedlayea@gmail.com?Subject=Hello%20again" target="_top">Send Mail</a>
<p>Click the link below to see or give feedback.</p>
<p><%= link_to "Feedback and Comments", comments_path %></p>
