
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<p> Edit your spot! </p>
<%= render "form" %>
<p><%= link_to "Cancel", spots_path %></p>
