<h1> Feedbck, comment or suggestion</h1>
  <% @comments.each do |comment|%>
    <details>
      <p> By <%= comment.user%> <%= Time.now.strftime("%d/%m/%Y %H:%M") %> </p>
      <summary>
        <%= comment.message%></p>
      </summary>
    </details>
  <%end%>
