/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
   width: 320px;
   height: 470px;
   border-color: red;
   border-style: double;
 }
#header{
  background-color: lightblue;
  text-align: center;
  font-weight: bold;
}
#button{
  background-color: lightgray;
  font-weight: bold;
}
#tab{
  margin-left: 171px;
}
#list{
  position: relative;
  left:25px;
}
a.fav {
  color: green;
}
a.no-fav {
  color: red;
}
#circlular_button{
  position: relative;
  top:-9px;
  left:-20px;
  border: 0px;
  margin: 0px;
}
#information_board{
  position: relative;
  top:-150px;
  left:15px;
}
img{
  width:300px;
  height:200px;
}
#pin{
  position: relative;
  left:85px;
  top:1px;
  font-size: 30px;
  background-color: transparent;
  border: 0px;
  font-weight: bolder;
}
#current_map{
  position: relative;
  top: 8px;
}
#info{
  position: relative;
  top: 20px;
}
